{% extends 'base.html' %}

{% block content %}
 

<center><h2 class="text-primary">Add Patient Details</h2></center>

<div class="row">
  <div class="col-sm-4"></div>
  <form method="post" action="{{ url_for('pharmacist.add_patient') }}">
  <div class="col-sm-2">
  		<h2><label class="control-label" for="patientid">Patient Id</label></h2>
	
		<h2><label class="control-label"  for="patientname">Patient Name</label></h2>
	
		<h2><label class="control-label"  for="patientage">Patient Age</label></h2>
		
		<h2><label class="control-label"  for="doa">Date of Admission</label></h2>
		
		<h2><label class="control-label"  for="typeofbed">Type of Bed</label></h2>
		
		<h2><label class="control-label"  for="address">Address</label></h2>
		
		<h2><label class="control-label"  for="state">State</label></h2>
		
		<h2><label class="control-label"  for="city">City</label></h2>
		
	</div>
	<div class="col-sm-2">
		<h2><input type="text" name="patient_id" ></h2>
		
		<h2><input type="text" name="patient_name" ></h2>
		
		<h2><input type="text"  name="patient_age" ></h2>
		
		<h2><input type="text" id="doa" name="date_of_addmision" ></h2>
		
		<h2><input type="text" name="type_of_room" ></h2>
		
		<h2><input type="text" id="address" name="address"></h2>
		
		<h2><input type="text" id="state" name="state"></h2>
		
		<h2><input type="text" id="city" name="city"></h2>

		<h2><button class="btn-primary" type="submit">Add Patient</button></h2>
	</div>
	</form>
</div>
{% endblock %}