{% extends 'base.html' %}

{% block content %}
 

<center><h2 class="text-primary">Add Patient Details</h2></center>

<div class="row">
  <div class="col-sm-4"></div>
  <form method="post" action="{{ url_for('add_patient') }}">
  <div class="col-sm-2">
  		<h2><label class="control-label" for="patientid">Patient Id</label></h2>
	
		<h2><label class="control-label"  for="patientname">Patient Name</label></h2>
	
		<h2><label class="control-label"  for="patientage">Patient Age</label></h2>
		
		<h2><label class="control-label"  for="doa">Date of Admission</label></h2>
		
		<h2><label class="control-label"  for="address">Address</label></h2>
		
		<h2><label class="control-label"  for="state">State</label></h2>
		
		<h2><label class="control-label"  for="city">City</label></h2>
		<h2><label>type of room</label></h2>
		
	</div>
	<div class="col-sm-2">
		<h2><input type="text" name="patient_id" pattern="[0-9]{9}" required></h2>
		
		<h2><input type="text" name="patient_name" pattern="([A-zÀ-ž\s ]){1,}" required></h2>
		
		<h2><input type="text"  name="patient_age" pattern="[0-9]*" required></h2>
		
		<h2><input type="date" id="doa" name="date_of_addmision"  required ></h2>
		
		<h2><input type="text" id="address" name="address"  pattern="[a-zA-Z0-9 ]{2,50}]" required> </h2>
		
		<h2><input type="text" id="state" name="state" pattern="([A-zÀ-ž ]){1,}" required></h2>
		
		<h2><input type="text" id="city" name="city" pattern="([A-zÀ-ž]){1,}" required ></h2>

		<h2><input list="rooms" name="type_of_room" required></h2>
              <datalist id="rooms">
              <option value="Single">
              <option value="Semi Sharing">
              <option value="General">
              </datalist>


		<h2><button class="btn-primary" type="submit">Add Patient</button></h2>

		

	</div>
	</form>
</div>
{% endblock %}