<!doctype html>

 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    
{% if medicines %}
  <h2>Pharmacy Bill</h2>
  <table class="table table-hover" id="med-table">
    <thead>
      <tr>
        <th>Medicine Name</th>
        <th>Quantity</th>
        
        <th>Medicine Rate</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
    {% set total_amount = [0] %}
    {% for medicine in medicines %}
      <tr>
        <td>{{ medicine.medicine_name }}</td>
        
        <td>{{ medicine.quantity_issued }}</td>
        
        <td>{{ medicine.rate }}</td>
        {% set amount = (medicine.quantity_issued * medicine.rate) | int %}
        <td>{{ amount }}</td>

        {% if total_amount.append(total_amount.pop() + amount ) %}{% endif %} 

      </tr>
      
    {% endfor %}
    
    </tbody>
  </table>
</div>
</div>
  <div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-3">
      <h4><label class="control-label" for="patientid">Bill for Pharmacy:</label></h4>
  </div>
  <div class="col-sm-2">
    <h4>{{ total_amount[0] }}</h4>
  </div>
</div>
</div>
{% endif %}
</div>
