
<!DOCTYPE html>
<html>
<head>
	<title>Update Patient</title>
	<h1>Welcome to ABC Hospital</h1>
	<style>
		body {background-color: powderblue; text-align: center;}
		h1   {color: blue;}
		p    {color: red;}
	</style>

</head>
<body>
	<h3>Update Patient</h3>
	<form>
		<label for="patientid">Patient Id</label>
		<input type="text" id="patientid" name="patientid"><br>
		<label for="patientname">Patient Name</label>
		<input type="text" id="patientname" name="patientname"><br>
		<label for="patientage">Patient Age</label>
		<input type="text" id="patientage" name="patientage"><br>
		<label for="doa">Date of Admission</label>
		<input type="text" id="doa" name="doa"><br>
		<label for="typeofbed">Type of Bed</label>
		<input type="text" id="typeofbed" name="typeofbed"><br>
		<label for="address">Address</label>
		<input type="text" id="address" name="address"><br>
		<label for="state">State</label>
		<input type="text" id="state" name="state"><br>
		<label for="city">City</label>
		<input type="text" id="city" name="city"><br>
		<input type="submit" value="UPDATE">
	</form>
</body>
</html>