<!doctype html>

 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <h2>Assigned Tests</h2>
{% if diagnostics %}
	<div id="add"></div>
	<table class="table table-hover" id="med-table">
    <thead>
      <tr>
        <th>Test Name</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
    {% for diagnostic in diagnostics %}
      <tr>
        <td>{{ diagnostic.name_of_test }}</td>
        
        <td>{{ diagnostic.amount }}</td>
      </tr>
    {% endfor %}
    </tbody>
	</table>
</div>
{% endif %}
</div>
